src/.settings/language.settings.xml
src/.settings/org.eclipse.cdt.codan.core.prefs
/Debug
/Release
.cproject
.project
.settings/org.eclipse.cdt.codan.core.prefs
.settings/org.eclipse.cdt.managedbuilder.core.prefs
.settings/org.eclipse.cdt.core.prefs
src/Milestone-1/.vs/Milestone-1/v14/.suo
src/Milestone-1/Debug/Milestone-1.exe
src/Milestone-1/Debug/Milestone-1.ilk
src/Milestone-1/Debug/Milestone-1.pdb
src/Milestone-1/Milestone-1.VC.opendb
src/Milestone-1/Milestone-1.sdf
src/Milestone-1/Milestone-1.sln
src/Milestone-1/Milestone-1/Debug/EntityAdministrator.obj
src/Milestone-1/Milestone-1/Debug/GameEntity.obj
src/Milestone-1/Milestone-1/Debug/Milestone-1.Build.CppClean.log
src/Milestone-1/Milestone-1/Debug/Milestone-1.log
src/Milestone-1/Milestone-1/Debug/Milestone-1.tlog/CL.command.1.tlog
src/Milestone-1/Milestone-1/Debug/Milestone-1.tlog/CL.read.1.tlog
src/Milestone-1/Milestone-1/Debug/Milestone-1.tlog/CL.write.1.tlog
src/Milestone-1/Milestone-1/Debug/Milestone-1.tlog/Milestone-1.lastbuildstate
src/Milestone-1/Milestone-1/Debug/Milestone-1.tlog/link.command.1.tlog
src/Milestone-1/Milestone-1/Debug/Milestone-1.tlog/link.read.1.tlog
src/Milestone-1/Milestone-1/Debug/Milestone-1.tlog/link.write.1.tlog
src/Milestone-1/Milestone-1/Debug/PacketHandler.obj
src/Milestone-1/Milestone-1/Debug/PlayerEntity.obj
src/Milestone-1/Milestone-1/Debug/Server.obj
src/Milestone-1/Milestone-1/Debug/Server_test.obj
src/Milestone-1/Milestone-1/Debug/base64.obj
src/Milestone-1/Milestone-1/Debug/gameLogic.obj
src/Milestone-1/Milestone-1/Debug/main.obj
src/Milestone-1/Milestone-1/Debug/sha1.obj
src/Milestone-1/Milestone-1/Debug/vc140.idb
src/Milestone-1/Milestone-1/Debug/vc140.pdb
src/Milestone-1/Milestone-1/Debug/websocket.obj
src/Milestone-1/Milestone-1/Milestone-1.vcxproj
src/Milestone-1/Milestone-1/Milestone-1.vcxproj.filters
src/Milestone-1/enc_temp_folder/55ecc4c7a33d640aed6e0dc995d6f53/websocket.cpp
Jonathan Nguyen - 93726859.rar
Jonathan Nguyen - 93726859/Team Members and IDs.txt
Jonathan Nguyen - 93726859/client/snake_client.html
Jonathan Nguyen - 93726859/client/snake_socket.js
Jonathan Nguyen - 93726859/server/base64.cpp
Jonathan Nguyen - 93726859/server/base64.h
Jonathan Nguyen - 93726859/server/main.cpp
Jonathan Nguyen - 93726859/server/sha1.cpp
Jonathan Nguyen - 93726859/server/sha1.h
Jonathan Nguyen - 93726859/server/websocket.cpp
Jonathan Nguyen - 93726859/server/websocket.h
Jonathan Nguyen - 93726859/src/Milestone-1/.vs/Milestone-1/v14/.suo
Jonathan Nguyen - 93726859/src/Milestone-1/Debug/Milestone-1.exe
Jonathan Nguyen - 93726859/src/Milestone-1/Debug/Milestone-1.ilk
Jonathan Nguyen - 93726859/src/Milestone-1/Debug/Milestone-1.pdb
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1.sdf
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1.sln
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/EntityAdministrator.obj
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/GameEntity.obj
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/Milestone-1.Build.CppClean.log
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/Milestone-1.log
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/Milestone-1.tlog/CL.command.1.tlog
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/Milestone-1.tlog/CL.read.1.tlog
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/Milestone-1.tlog/CL.write.1.tlog
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/Milestone-1.tlog/Milestone-1.lastbuildstate
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/Milestone-1.tlog/link.command.1.tlog
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/Milestone-1.tlog/link.read.1.tlog
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/Milestone-1.tlog/link.write.1.tlog
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/PacketHandler.obj
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/PlayerEntity.obj
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/Server.obj
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/Server_test.obj
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/base64.obj
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/gameLogic.obj
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/main.obj
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/sha1.obj
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/vc140.idb
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/vc140.pdb
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Debug/websocket.obj
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Milestone-1.vcxproj
Jonathan Nguyen - 93726859/src/Milestone-1/Milestone-1/Milestone-1.vcxproj.filters
Jonathan Nguyen - 93726859/src/administrator/EntityAdministrator.cpp
Jonathan Nguyen - 93726859/src/administrator/EntityAdministrator.h
Jonathan Nguyen - 93726859/src/entity/EntityAdministrator.cpp
Jonathan Nguyen - 93726859/src/entity/EntityAdministrator.h
Jonathan Nguyen - 93726859/src/gameLogic/gameLogic.cpp
Jonathan Nguyen - 93726859/src/gameLogic/gameLogic.hpp
Jonathan Nguyen - 93726859/src/network/PacketHandler.cpp
Jonathan Nguyen - 93726859/src/network/PacketHandler.h
Jonathan Nguyen - 93726859/src/objects/GameEntity.cpp
Jonathan Nguyen - 93726859/src/objects/GameEntity.h
Jonathan Nguyen - 93726859/src/objects/PlayerEntity.cpp
Jonathan Nguyen - 93726859/src/objects/PlayerEntity.h
Jonathan Nguyen - 93726859/src/server/Server.cpp
Jonathan Nguyen - 93726859/src/server/Server.h
Jonathan Nguyen - 93726859/src/server/Server_test.cpp
